.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container.ativo {
  display: flex;
}
.modal {
  background: #333a56;
  min-width: 300px;
  padding: 40px; 
  box-shadow: 0px 3px 4px 1px rgb(60 56 56);
  position: relative;
  font-family: Helvetica, Arial;
  color: #f0f8ff;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.ativo .modal {
  animation: modal .3s forwards;
}
.close {
  width: 30px;
  height: 30px;
  border: 0px;
  top: 8px;
  right: 6px;
  position: absolute;
  font-size: 1.1rem;
  color: #f0f8ff;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  background: transparent;
}
.modal-text {
  text-align: center;
  margin-bottom: 30px;
}
.modal input  {
  border-radius: 20px;
  border: none;
  height: 33px;
  display: block;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
  padding-left: 20px;
  width: 93%;
  color: #f0f8ff;
  box-shadow: 0px 0px 3px 1px #b3b3b359;
  background-color: rgba(179, 179, 179, 0.124);
}
.modal input:focus {
  outline: none;
}
::placeholder {
  color: #ffffff6d;
}
.modal p {
  margin: 10px 0 10px 0;
}
.modal-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.signin {
  text-transform: uppercase;
  border: none;
  background: #52658f;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  height: 35px;
  width: 40%;
  cursor: pointer;
  transition: .8s;
}
.signin:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0px 0px 4px 0px #5379ce;
  background: #5379ce;
}
